body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  background:  radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);;
  
}
button#submit-button{
  border-radius: 20px;
  border: none;
  height: 2.5em;
  outline: none;
  padding: 2px;
  background: #7c7c7c2b;
  color:white;
}
button#current-button {
  border-radius: 20px;
  border: none;
  height: 2.5em;
  outline: none;
  padding: 2px;
  background: #7c7c7c2b;
color: white;
}
.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 20px;
  max-width: 500px;
  background-color:  hsla(0, 0%, 0%, 0);
  box-shadow: -38px -17px 68px 2px rgba(42, 7, 245, 0.2);
}
#city {
  font-size: 34px;
   justify-content: center;
  align-items: center;
  margin:0 auto;
}
#temp {
  font-size: 4em;
  font-weight: lighter;
}
#discription {
  font-size: 35px;
}

#pressure {
  font-size: 30px;
}

#humidity {
  font-size: 30px;
}

#wind {
  font-size: 30px;
}
 #search-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  border-radius: 20px;
  height: 2.5em;
  border: none;
  outline: none;
  background: #7c7c7c2b;
  padding: 2px;
  color:white;
}
#search {
  display: block;
  margin: 0 auto;
}

#future-weather-forecast{
   background:#000000d0;
  padding:25px;
  position:flex;
  bottom:0;
display:flex;
width:100%;
align-items:center;
justify-content:center;
border-radius: 20px;
border: 1px solid #fff;
color: black;
background-color:  hsla(0, 0%, 0%, 0);
box-shadow: -38px -17px 68px 54px rgba(42, 7, 245, 0.2);
}
#future-weather-forecast .today {
  display:flex;
  align-items:center;
  justify-content:center;
}
#future-weather-forecast .today .day{
  background:#3c3c44;
  padding: 5px 15px;
  border-radius: 50px; 
  text-align:center;
  color:white;
}
#future-weather-forecast .today .temp{
  font-size:30px;
padding-top:15px;
}
#future-weather-forecast #weather-forecast{
  display:flex;
}
.weather-forecast .weather-forecast-item{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin:0px 10px;
border: 1px solid #fff;
border-radius: 10px; 
padding: 15px
}
.weather-forecast .weather-forecast-item .day{
  padding: 5px 15px;
background:#3c3c44;
border-radius:50px; 
text-align: center;
color:white;
} 
.weather-forecast .weather-forecast-item .temp{
  font-weight: 100;
}
@media only screen and (max-width:730px){
  .future-weather-forecast{
    justify-content: start;
    align-items:none;
    overflow: scroll;
  }
}
